aerospike==16.0.0
ansible_runner==2.3.5
ansible_tower_cli==3.3.9
apache_libcloud==3.8.0
asana_kazoo==2.0.8dev
backports.statistics==0.1.0
beautifulsoup4
boto3==1.35.63
certifi==2023.7.22
clc==0.0.1
configobj==5.0.9
ConfigParser==7.1.0
cryptography==36.0.1
dacite==1.8.1
datadog==0.50.2
datadog_api_client==2.31.0
dnspython==2.3.0
flatdict==4.0.1
footmark==1.22.0
fqdn==1.5.1
genie==24.11
github3.py==4.0.1
gssapi=>1.8
hcl==0.2.1
heroku3==5.2.1
hpe3par_sdk==2.0
hpe3parclient==4.2.13
hpOneView==5.3.0
httmock==1.4.0
ipalib==4.11.0
ipaplatform==4.11.0
ipapython==4.11.0
Jinja2==3.1.2
jmespath==0.9.4
jxmlease==1.0.3
keystoneauth1==5.9.1
linode_api4==5.25.0
lmdb==1.5.1
lxml==4.6.5
manageiq_client==0.6.1
matplotlib==3.10.0
matrix_client==0.4.0
msal==1.31.1
msrest==0.7.1
msrestazure==0.6.4.post1
MySQL-python==1.2.5
nc_dnsapi==0.1.5
ncclient==0.6.16
netaddr>=0.10.1
ntc_templates==7.5.0
oci==2.141.0
ordereddict==1.1
ovh==1.2.0
packaging==21.3
packet==0.5
paho_mqtt==2.1.0
pam==0.2.0
paramiko==3.5.0
passlib==1.7.4
pcs==0.3
pdpyras==5.3.0
petname==2.6
prettytable==3.12.0
protobuf==5.29.2
proxmoxer==2.2.0
psphere==0.6.0
psutil==5.8.0
pubnub_blocks_client==1.1.0
purity_fb==1.12.3
py==1.11.0
pyasn1==0.4.8
pyats==24.11
pycdlib==1.11.0
PyChef==0.3.0
pyghmi==1.5.72
PyGithub==2.5.0
PyJWT==2.10.1
pylxca==4.2.0
pymssql==2.3.2
pymysql==1.1.1
pyodbc==5.0.1
pyone==6.10.2
pypureomapi==0.8
pysnmp==7.1.15
pytest==8.3.4
pytest_sourceorder==0.6.0
python_daemon==2.3.0
python_dateutil==2.9.0.post0
python_debian==0.1.49
python_memcached==1.62
pytz==2021.1
pyudev==0.22.0
pyVim==3.0.3
pyvmomi>=8.0.3.0.1
pyxcli==1.2.1
Requests==2.32.3
requests_toolbelt==1.0.0
rpm==0.3.1
salt==3007.1
scp==0.15.0
semantic_version==2.10.0
setuptools==53.0.0
smtpd_tls==0.1
SoftLayer==6.2.5
spotinst_sdk==1.0.56
storops==1.2.11
suds_jurko==0.6
taiga==0.1.1
testinfra==6.0.0
textfsm==1.1.3
ttp==0.9.5
unittest2==1.1.0
urllib3==1.26.5
vexatapi==0.0.2
voluptuous==0.15.2
websocket_client==1.8.0
XenAPI==24.40.0
xkcdpass==1.19.9
xmljson==0.2.1
xmlrpclib==1.0.1
xmltodict==0.14.2
xmpppy==0.7.1
